{% extends 'Profile/profile_index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block css %} {% endblock css %}

{% block body %} 
<main>
    <div class="container">
        <div class="content d-flex flex-d-column flex-d-m-row flex-wrap-wrap">
            <div class="left w-100">
                <div class="box box-1 bg-white">
                    <div class="user-profile">
                        <div class="user-top bg-red">
                            <div class="user-img">
                                <img id="profile_image" src="{% static 'Assects\Img\Profile\prfile_pic.jpg' %}" alt="user" class="b-rd-50" style="height: 110px; width: 110px;">
                            </div>
                        </div>
                        <div class="user-bottom bg-white t-c">
                            <h3 class="t-capitalize" id="fullname"></h3>
                            <span class="c-mediumGray" id="profession"></span>
                        </div>
                        <ul class="d-flex flex-d-column align-items-center t-c">
                            <li class="w-100">
                                <h4 class="t-capitalize c-mediumGray fs-20">following</h4>
                                <span class="c-black fs-20">34</span>
                            </li>
                            <li class="w-100">
                                <h4 class="t-capitalize c-mediumGray fs-20">followers</h4>
                                <span class="c-black fs-20">155</span>
                            </li>
                            <li class="w-100">
                                <a href="my-profile.html" class="c-red t-capitalize fs-14">view profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box box-2 bg-white">
                    <div class="sg-title d-flex align-items-center justify-content-space-between">
                        <h3 class="t-capitalize">suggestions</h3>
                        <i class="fas fa-ellipsis-v pointer c-lightGray fs-16"></i>
                    </div>
                    <div class="sg-list">
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s1.png' %}" alt="#" class="t-capitalize c-white">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s2.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">poonam</h4>
                                <span class="t-capitalize c-mediumGray">wordpress developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">bill gates</h4>
                                <span class="t-capitalize c-mediumGray">c & c++ developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s5.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s6.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="view-more t-c fs-14">
                            <a href="#" class="t-capitalize c-red">view more</a>
                        </div>
                    </div>
                </div>
                <div class="box box-3 bg-white">
                    <div class="tags">
                        <ul class="d-flex align-items-center justify-content-center flex-wrap-wrap ">
                            <li>
                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                    help center
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    about
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    community guidelines
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    cookies policy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    career
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    language
                                </a>
                            </li>
                            <li>
                                <a href="#" class="t-capitalize c-lightGray">
                                    copyright
                                </a>
                            </li>
                        </ul>
                        <div class="tags-bottom t-c">
                            <img src="{% static 'Assects\Img\Profile\logo2.png' %}" alt="logo">
                            <p class="t-capitalize">&copy; copyright 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle w-100">
                <div class="box box-4 bg-white">
                    <div class="post d-flex align-items-center justify-content-space-between flex-wrap-wrap">
                        <img src="{% static 'Assects\Img\Profile\user-pic.png' %}" alt="user">
                        <div class="post-btn d-flex align-items-center">
                            <a href="#" class="btn c-lightGray">Post a Project</a>
                            <a href="#" class="btn bg-red c-white">Post a Job</a>
                        </div>
                    </div>
                </div>
                <div class="box box-5 bg-white">
                    <div class="post-section">
                        <div class="post-topbar d-flex align-items-center justify-content-space-between">
                            <div class="user-info d-flex align-items-center">
                                <img src="{% static 'Assects\Img\Profile\user-pic.png' %}" alt="user">
                                <div class="info">
                                    <h3 class="c-black t-capitalize">john doe</h3>
                                    <span class="c-lightGray">
                                        <i class="fas fa-clock"></i>
                                        3 min ago
                                    </span>
                                </div>
                            </div>
                            <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                        </div>
                        <div class="epic-sec">
                            <div class="details d-flex align-items-center">
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">epic coder</span>
                                </div>
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">india</span>
                                </div>
                            </div>
                            <div class="links d-flex align-items-center">
                                <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-bookmark t-c"></i>
                                </div>
                                <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-envelope t-c"></i>
                                </div>
                            </div>
                            <div class="job-desc">
                                <h3 class="t-capitalize c-black fs-16">
                                    senior wordpress developer
                                </h3>
                                <div class="jod-det d-flex align-items-center">
                                    <a href="#" class="btn bg-blue c-white">full time</a>
                                    <span class="c-black fs-16">$30 / hr</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                    <a href="#" class="c-red">view more</a>
                                </p>
                                <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                </ul>
                                <div class="job-status-bar">
                                    <ul>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-heart"></i>
                                                like
                                                <span>25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-comment-alt"></i>
                                                comment
                                                <span>15</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-lightGray fs-14">
                                        <i class="fas fa-eye"></i>
                                        views 50
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-6">
                    <div class="top-profile">
                        <div class="title d-flex align-items-center justify-content-space-between">
                            <h3 class="t-capitalize c-black fs-20">top profiles</h3>
                            <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                        </div>
                        <div class="profile-slider p-relative">
                            <span
                                class="bg-white c-lightGray p-absolute b-rd-50 t-c d-flex align-items-center justify-content-center pointer">
                                <i class="fas fa-chevron-left" fs-14></i>
                            </span>
                            <div class="slides">
                                <div class="slide d-none active fade bg-white d-flex flex-d-column align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\user2.png' %}" alt="user2">
                                    <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                    <span class="c-lightGray t-capitalize">graphic designer</span>
                                    <ul class="d-flex align-items-center">
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-red b-rd-3">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-blue b-rd-3">hire</a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                </div>
                                <div class="slide d-none fade bg-white d-flex flex-d-column align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\user1.png' %}" alt="user2">
                                    <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                    <span class="c-lightGray t-capitalize">graphic designer</span>
                                    <ul class="d-flex align-items-center">
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-red b-rd-3">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-blue b-rd-3">hire</a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                </div>
                                <div class="slide d-none fade bg-white d-flex flex-d-column align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\user3.png' %}" alt="user3">
                                    <h3 class="c-black t-capitalize fs-16">john doe</h3>
                                    <span class="c-lightGray t-capitalize">graphic designer</span>
                                    <ul class="d-flex align-items-center">
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-green b-rd-3">follow</a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-red b-rd-3">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-white bg-blue b-rd-3">hire</a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-black t-c w-100 fs-14">view profile</a>
                                </div>
                            </div>
                            <span
                                class="bg-white c-lightGray p-absolute b-rd-50 t-c d-flex align-items-center justify-content-center pointer">
                                <i class="fas fa-chevron-right fs-14"></i>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="box box-7 bg-white">
                    <div class="post-section">
                        <div class="post-topbar d-flex align-items-center justify-content-space-between">
                            <div class="user-info d-flex align-items-center">
                                <img src="{% static 'Assects\Img\Profile\user-pic.png' %}" alt="user">
                                <div class="info">
                                    <h3 class="c-black t-capitalize">john doe</h3>
                                    <span class="c-lightGray">
                                        <i class="fas fa-clock"></i>
                                        3 min ago
                                    </span>
                                </div>
                            </div>
                            <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                        </div>
                        <div class="epic-sec">
                            <div class="details d-flex align-items-center">
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">epic coder</span>
                                </div>
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">india</span>
                                </div>
                            </div>
                            <div class="links d-flex align-items-center">
                                <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-bookmark t-c"></i>
                                </div>
                                <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-envelope t-c"></i>
                                </div>
                                <a href="#" class="t-capitalize bg-blue c-white b-rd-3 bide">bid now</a>
                            </div>
                            <div class="job-desc">
                                <h3 class="t-capitalize c-black fs-16">
                                    senior wordpress developer
                                </h3>
                                <div class="jod-det d-flex align-items-center">
                                    <a href="#" class="btn bg-blue c-white">full time</a>
                                    <span class="c-black fs-16">$30 / hr</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                    <a href="#" class="c-red">view more</a>
                                </p>
                                <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                </ul>
                                <div class="job-status-bar">
                                    <ul>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-heart"></i>
                                                like
                                                <span>25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-comment-alt"></i>
                                                comment
                                                <span>15</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-lightGray fs-14">
                                        <i class="fas fa-eye"></i>
                                        views 50
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-8 bg-white">
                    <div class="post-section">
                        <div class="post-topbar d-flex align-items-center justify-content-space-between">
                            <div class="user-info d-flex align-items-center">
                                <img src="{% static 'Assects\Img\Profile\us-pc2.png' %}" alt="user">
                                <div class="info">
                                    <h3 class="c-black t-capitalize">john doe</h3>
                                    <span class="c-lightGray">
                                        <i class="fas fa-clock"></i>
                                        3 min ago
                                    </span>
                                </div>
                            </div>
                            <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                        </div>
                        <div class="epic-sec">
                            <div class="details d-flex align-items-center">
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">epic coder</span>
                                </div>
                                <div class="detail d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                    <span class="c-lightGray t-capitalize">india</span>
                                </div>
                            </div>
                            <div class="links d-flex align-items-center">
                                <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-bookmark t-c"></i>
                                </div>
                                <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                    <i class="far fa-envelope t-c"></i>
                                </div>
                            </div>
                            <div class="job-desc">
                                <h3 class="t-capitalize c-black fs-16">
                                    senior wordpress developer
                                </h3>
                                <div class="jod-det d-flex align-items-center">
                                    <a href="#" class="btn bg-blue c-white">full time</a>
                                    <span class="c-black fs-16">$30 / hr</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                    <a href="#" class="c-red">view more</a>
                                </p>
                                <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                    <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                </ul>
                                <div class="job-status-bar">
                                    <ul>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-heart"></i>
                                                like
                                                <span>25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="t-capitalize c-lightGray fs-14">
                                                <i class="fas fa-comment-alt"></i>
                                                comment
                                                <span>15</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="t-capitalize c-lightGray fs-14">
                                        <i class="fas fa-eye"></i>
                                        views 50
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right w-100">
                <div class="box box-9 bg-white d-flex justify-content-center align-items-center flex-d-column">
                    <img src="{% static 'Assects\Img\Profile\wd-logo.png' %}" alt="logo">
                    <h3 class="t-capitalize c-black t-c fs-16">track time on workwise</h3>
                    <span class="c-lightGray">Pay only for the Hours worked</span>
                    <div class="link d-flex align-items-center justify-content-center flex-d-column w-100">
                        <a href="#" class="t-uppercase c-black fs-16">sign up</a>
                        <a href="#" class="t-capitalize c-red fs-16">learn more</a>
                    </div>
                </div>
                <div class="box box-10 bg-white">
                    <div class="top-jobs">
                        <div class="title d-flex align-items-center justify-content-space-between">
                            <h3 class="c-black t-capitalize">top jobs</h3>
                            <i class="fas fa-ellipsis-v pointer c-lightGray fs-16"></i>
                        </div>
                        <div class="job-list">
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior product designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior UI / UX designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">junior seo designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior PHP designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior developer designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-11 bg-white">
                    <div class="top-jobs">
                        <div class="title d-flex align-items-center justify-content-space-between">
                            <h3 class="c-black t-capitalize">most viewed this week</h3>
                            <i class="fas fa-ellipsis-v pointer c-lightGray fs-16"></i>
                        </div>
                        <div class="job-list">
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior product designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black fs-14">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">senior UI / UX designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black">
                                    $25/h
                                </div>
                            </div>
                            <div class="job-info d-flex align-items-center justify-content-space-between">
                                <div class="job-detail">
                                    <h3 class="c-black t-capitalize fs-14">junior seo designer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                </div>
                                <div class="money c-black">
                                    $25/h
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-12 bg-white">
                    <div class="sg-title d-flex align-items-center justify-content-space-between">
                        <h3 class="t-capitalize">most viewed people</h3>
                        <i class="fas fa-ellipsis-v pointer c-lightGray"></i>
                    </div>
                    <div class="sg-list">
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s1.png' %}" alt="#" class="t-capitalize c-white">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s2.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">poonam</h4>
                                <span class="t-capitalize c-mediumGray">wordpress developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">bill gates</h4>
                                <span class="t-capitalize c-mediumGray">c & c++ developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s5.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s6.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="view-more t-c">
                            <a href="#" class="t-capitalize c-red fs-14">view more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}