{% extends 'Profile/profile_index.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block css %} {% endblock css %}

{% block body %}
<div class="container">
    <section class="cover-sec p-relative">
        <img id="cover_image" src="{% static 'Assects\Img\Profile\cover-img.jpg' %}" alt="cover" style="height: 350px;" width="100%">
        <div class="add-pic-box w-100 p-absolute fs-16">
            <div class="container">
                <form action="#" class="d-flex">
                    <input type="file" id="file">
                    <label for="file" class="t-uppercase bg-white c-red b-rd-3 pointer">change image</label>
                </form>
            </div>
        </div>
    </section>
</div>
<main>
    <div class="container">
        <div class="main-sec d-flex flex-d-column flex-d-l-row">
            <div class="left">
                <div class="box box-1">
                    <div class="user-profile bg-white w-100 t-c">
                        <div class="user-pro-img p-relative t-c w-100">
                            <img id="profile_image" src="{% static 'Assects\Img\Profile\prfile_pic.jpg' %}" class="b-rd-50" style="width: 200px; height: 200px;">
                            <div class="add-pic p-absolute">
                                <input type="file" id="pic">
                                <label for="pic" class="">
                                    <i class="fas fa-camera bg-red c-white b-rd-50 t-c fs-14 pointer"></i>
                                </label>
                            </div>
                        </div>
                        <div class="user-pro-status w-100">
                            <ul class="flw-status d-flex align-items-center justify-content-center">
                                <li>
                                    <span class="t-capitalize c-lightGray fs-16 d-block">following</span>
                                    <b class="fs-20 c-black">34</b>
                                </li>
                                <li>
                                    <span class="t-capitalize c-lightGray fs-16 d-block">followers</span>
                                    <b class="fs-20 c-black">155</b>
                                </li>
                            </ul>
                        </div>
                        <ul class="social-links">
                            <li>
                                <a id="websit" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fs-20 fas fa-globe-europe"></i>
                                    <span>https://www.web.com/...</span>
                                </a>
                            </li>
                            <li>
                                <a id="linkedin" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 20px;"></i>
                                    <span>https://www.linkedin.com/...</span>
                                </a>
                            </li>
                            
                            <li>
                                <a id="facebook" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fs-20 fab fa-facebook-square"></i>
                                    <span>https://www.facebook.com/...</span>
                                </a>
                            </li>
                            <li>
                                <a id="twitter" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fs-20 fab fa-twitter"></i>
                                    <span>https://www.twitter.com/...</span>
                                </a>
                            </li>
                            <li>
                                <a id="git" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fa fa-github" aria-hidden="true" style="font-size: 20px;"></i>
                                    <span>https://www.github.com/...</span>
                                </a>
                            </li>
                            <li>
                                <a id="instagram" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fs-20 fab fa-instagram"></i>
                                    <span>https://www.instagram.com/...</span>
                                </a>
                            </li>
                            <li>
                                <a id="youtube" href="#" class="w-100 c-blue fs-14 d-flex align-items-center" target="_blank">
                                    <i class="fs-20 fab fa-youtube-square"></i>
                                    <span>https://www.youtube.com/...</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box box-2 bg-white">
                    <div class="sg-title d-flex align-items-center justify-content-space-between">
                        <h3 class="t-capitalize">most viewed people</h3>
                        <i class="fas fa-ellipsis-v pointer c-lightGray"></i>
                    </div>
                    <div class="sg-list">
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s1.png' %}" alt="#" class="t-capitalize c-white">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s2.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">poonam</h4>
                                <span class="t-capitalize c-mediumGray">wordpress developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s3.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">bill gates</h4>
                                <span class="t-capitalize c-mediumGray">c & c++ developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s5.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">jessica william</h4>
                                <span class="t-capitalize c-mediumGray">graphic designer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="sg-user d-flex">
                            <img src="{% static 'Assects\Img\Profile\s6.png' %}" alt="">
                            <div class="sg-text">
                                <h4 class="t-capitalize">john doe</h4>
                                <span class="t-capitalize c-mediumGray">PHP developer</span>
                            </div>
                            <span
                                class="c-lightGray d-flex align-items-center justify-content-center pointer b-rd-3">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <div class="view-more t-c">
                            <a href="#" class="t-capitalize c-red fs-14">view more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="user-tab-sec">
                    <h3 class="c-black t-capitalize" id="fullname"></h3>
                    <div class="user-tab-details">
                        <span class="t-capitalize c-mediumGray" id="profession"></span>
                        <ul class="d-flex align-items-center">
                            <li><i class="fs-16 fas fa-star"></i></li>
                            <li><i class="fs-16 fas fa-star"></i></li>
                            <li><i class="fs-16 fas fa-star"></i></li>
                            <li><i class="fs-16 fas fa-star"></i></li>
                            <li><i class="fs-16 fas fa-star-half-alt"></i></li>
                        </ul>
                        <a href="#" class="t-capitalize c-blue d-block">status</a>
                    </div>
                    <div class="tab-feed">
                        <ul class="d-flex align-items-center flex-wrap-wrap">
                            <li data-tab="feed" class="active">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="far fa-list-alt"></i>
                                    <span class="t-capitalize fs-16">feed</span>
                                </a>
                            </li>
                            <li data-tab="info">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="far fa-question-circle"></i>
                                    <span class="t-capitalize fs-16">info</span>
                                </a>
                            </li>
                            <li data-tab="jobs">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="far fa-bookmark"></i>
                                    <span class="t-capitalize fs-16">jobs</span>
                                </a>
                            </li>
                            <li data-tab="bids">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="far fa-check-square"></i>
                                    <span class="t-capitalize fs-16">bids</span>
                                </a>
                            </li>
                            <li data-tab="portfolio">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="fas fa-puzzle-piece"></i>
                                    <span class="t-capitalize fs-16">portfolio</span>
                                </a>
                            </li>
                            <li data-tab="reviews">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="far fa-comment-dots"></i>
                                    <span class="t-capitalize fs-16">reviews</span>
                                </a>
                            </li>
                            <li data-tab="payment">
                                <a href="#" class="d-flex flex-d-column align-items-center c-lightGray fs-16">
                                    <i class="fas fa-wallet"></i>
                                    <span class="t-capitalize fs-16">payment</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-feed-tab current" id="feed">
                    <div class="box bg-white">
                        <div class="post-section">
                            <div class="post-topbar d-flex align-items-center justify-content-space-between">
                                <div class="user-info d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\user-pic.png' %}" alt="user">
                                    <div class="info">
                                        <h3 class="c-black t-capitalize">john doe</h3>
                                        <span class="c-lightGray">
                                            <i class="fas fa-clock"></i>
                                            3 min ago
                                        </span>
                                    </div>
                                </div>
                                <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                            </div>
                            <div class="epic-sec">
                                <div class="details d-flex align-items-center">
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">epic coder</span>
                                    </div>
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">india</span>
                                    </div>
                                </div>
                                <div class="links d-flex align-items-center">
                                    <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-bookmark t-c"></i>
                                    </div>
                                    <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-envelope t-c"></i>
                                    </div>
                                </div>
                                <div class="job-desc">
                                    <h3 class="t-capitalize c-black fs-16">
                                        senior wordpress developer
                                    </h3>
                                    <div class="jod-det d-flex align-items-center">
                                        <a href="#" class="btn bg-blue c-white">full time</a>
                                        <span class="c-black fs-16">$30 / hr</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
                                        hendrerit
                                        metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                        <a href="#" class="c-red">view more</a>
                                    </p>
                                    <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                    </ul>
                                    <div class="job-status-bar">
                                        <ul>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-heart"></i>
                                                    like
                                                    <span>25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-comment-alt"></i>
                                                    comment
                                                    <span>15</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-lightGray fs-14">
                                            <i class="fas fa-eye"></i>
                                            views 50
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box bg-white">
                        <div class="post-section">
                            <div class="post-topbar d-flex align-items-center justify-content-space-between">
                                <div class="user-info d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\user-pic.png' %}" alt="user">
                                    <div class="info">
                                        <h3 class="c-black t-capitalize">john doe</h3>
                                        <span class="c-lightGray">
                                            <i class="fas fa-clock"></i>
                                            3 min ago
                                        </span>
                                    </div>
                                </div>
                                <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                            </div>
                            <div class="epic-sec">
                                <div class="details d-flex align-items-center">
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">epic coder</span>
                                    </div>
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">india</span>
                                    </div>
                                </div>
                                <div class="links d-flex align-items-center">
                                    <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-bookmark t-c"></i>
                                    </div>
                                    <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-envelope t-c"></i>
                                    </div>
                                    <a href="#" class="t-capitalize bg-blue c-white b-rd-3 bide">bid now</a>
                                </div>
                                <div class="job-desc">
                                    <h3 class="t-capitalize c-black fs-16">
                                        senior wordpress developer
                                    </h3>
                                    <div class="jod-det d-flex align-items-center">
                                        <a href="#" class="btn bg-blue c-white">full time</a>
                                        <span class="c-black fs-16">$30 / hr</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
                                        hendrerit
                                        metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                        <a href="#" class="c-red">view more</a>
                                    </p>
                                    <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                    </ul>
                                    <div class="job-status-bar">
                                        <ul>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-heart"></i>
                                                    like
                                                    <span>25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-comment-alt"></i>
                                                    comment
                                                    <span>15</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-lightGray fs-14">
                                            <i class="fas fa-eye"></i>
                                            views 50
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box bg-white">
                        <div class="post-section">
                            <div class="post-topbar d-flex align-items-center justify-content-space-between">
                                <div class="user-info d-flex align-items-center">
                                    <img src="{% static 'Assects\Img\Profile\us-pc2.png' %}" alt="user">
                                    <div class="info">
                                        <h3 class="c-black t-capitalize">john doe</h3>
                                        <span class="c-lightGray">
                                            <i class="fas fa-clock"></i>
                                            3 min ago
                                        </span>
                                    </div>
                                </div>
                                <i class="fas fa-ellipsis-v c-lightGray pointer fs-16"></i>
                            </div>
                            <div class="epic-sec">
                                <div class="details d-flex align-items-center">
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon8.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">epic coder</span>
                                    </div>
                                    <div class="detail d-flex align-items-center">
                                        <img src="{% static 'Assects\Img\Profile\icon9.png' %}" alt="">
                                        <span class="c-lightGray t-capitalize">india</span>
                                    </div>
                                </div>
                                <div class="links d-flex align-items-center">
                                    <div class="link bg-green c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-bookmark t-c"></i>
                                    </div>
                                    <div class="link bg-red c-white b-rd-3 fs-20 pointer">
                                        <i class="far fa-envelope t-c"></i>
                                    </div>
                                </div>
                                <div class="job-desc">
                                    <h3 class="t-capitalize c-black fs-16">
                                        senior wordpress developer
                                    </h3>
                                    <div class="jod-det d-flex align-items-center">
                                        <a href="#" class="btn bg-blue c-white">full time</a>
                                        <span class="c-black fs-16">$30 / hr</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
                                        hendrerit
                                        metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
                                        <a href="#" class="c-red">view more</a>
                                    </p>
                                    <ul class="skill-tags d-flex align-items-center flex-wrap-wrap">
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">HTML</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">PHP</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">CSS</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">JavaScript</a></li>
                                        <li><a href="#" class="c-lightGray bg-gray fs-14">Wordpress</a></li>
                                    </ul>
                                    <div class="job-status-bar">
                                        <ul>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-heart"></i>
                                                    like
                                                    <span>25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-capitalize c-lightGray fs-14">
                                                    <i class="fas fa-comment-alt"></i>
                                                    comment
                                                    <span>15</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="t-capitalize c-lightGray fs-14">
                                            <i class="fas fa-eye"></i>
                                            views 50
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="produc-feed-tab" id="info">
                    <div class="box bg-white">

                    </div>
                </div>
            </div>
            <div class="right">
                <div class="box portfolio bg-white">
                    <div class="portfolio-head d-flex align-items-center justify-content-space-between">
                        <h3 class="t-capitalize c-black">Picture</h3>
                        <img src="{% static 'Assects\Img\Profile\photo-icon.png' %}" alt="photo">
                    </div>
                    <div class="portfolio-body">
                        <ul class="d-flex align-items-center flex-wrap-wrap" id="all_prfile_image">
                            <!-- Images will be dynamically added here -->
                            <!-- <li>
                                <a href="#">
                                    <img src="{% static 'Assects\Img\Profile\pf-gallery1.png' %}" alt="" width="70px" height="70px">
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock body %}

{% block js %} 
<!-- <script>
    let subMenu = document.getElementById('subMenu');

    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }
</script> -->
{% endblock js %}