{% extends 'Account\index.html' %}
{% load static %}
{% block title %} Password | Set {% endblock title %}
{% block css %} {% endblock css %}

{% block body %}
<div class="container wrapper d-flex align-items-center justify-content-center">
    <div class="sign-in-page bg-white b-rd-3 d-l-flex" style="height: 500px;!important">
        <div class="header p-relative">
            <img src="{% static 'Assects\Img\Profile\cm-logo.png' %}" alt="logo">
            <p>
                Workwise, is a global freelancing platform and social networking where businesses and independent
                professionals connect and collaborate remotely
            </p>
            <div class="right d-none d-l-block">
                <img src="{% static 'Assects\Img\Profile\cm-main-img.png' %}" alt="main">
            </div>
        </div>
        <div class="main p-relative">
            <div>
                <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Recovery Account</h1>
            </div>


            <div class="sec sign-in-sec d-none active">
                <h3 class="c-balck p-relative">Set Your Password</h3>
                <div id="alart_msg" style="margin-top: -10px;!important"></div>

                <form id="password-set" class="d-flex flex-d-column">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <div class="inner-input fs-14 lightGray d-flex align-items-center">
                            <i class="fas fa-user"></i>
                            <input type="password" placeholder="Password" id="password" class="outline-0 b-0 w-100" required>
                        </div>
                    </div>

                    <div class="form-group"></div>

                    <div class="form-group">
                        <div class="inner-input fs-14 lightGray d-flex align-items-center">
                            <i class="fas fa-user"></i>
                            <input type="password" placeholder="Confirm Password" id="c_password" class="outline-0 b-0 w-100" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn" style="background-color: rgb(50, 104, 221);">Save</button>
                    </div>
                </form>
                

        </div>
    </div>
</div>

{% endblock body %}


{% block js %}
    <script src="{% static 'Assects\Js\Accounts\ForgetPass\set_password.js' %}" type="module"></script>
{% endblock js %}